.content {
  background-color: white;
}

/* È NECESSÀRIO TROCAR A FOTO CONFORME O PRATO */
.photo-card {
  background-image:url(../../assets/images/bg-details.png);
  background-repeat: no-repeat;
  background-size:38em 25rem;
  width:100%;
  height:40%;
}

/* SERÀ NECESSÀRIO TROCAR CONFORME A COR DA FOTO ? */
.photo-card svg{
  color:white;
}




