.content {
  background-color:white;
}

.content .close {
  margin-top:.2rem;
  margin-left:1rem;
  font-size:3.2rem;
}

.content h2 {
  font-weight: 700;
  font-size:3.4rem;
}

.content form {
  width:90%;
}

.submit {
  background-color:var(--red);
  color:white;

  border:none;

  font-weight: 600;
  letter-spacing: 1px;
  font-size:1.7rem;

  padding:1rem;
  border-radius: 1.5rem;
  margin-bottom:2.5rem;
}

.submit:hover {
  transition-duration: .2s;
  filter: brightness(1.1);

}

.content form input {
  font-size:1.8rem;
  padding:1rem;
  border-radius: 1.5rem;
  margin-bottom:2.5rem;

  border:1px solid rgba(0,0,0,0.5);
}

.content form input::placeholder {
  align-items: center;
  justify-content:center ;
  font-size:medium;
  opacity:60%;
}

.content form label {
  font-size:2rem;
  font-weight: 700;
  margin-bottom:.7rem;
}
